# Make BufferBuilder.vertices public
public net.minecraft.client.renderer.BufferBuilder field_178997_d  # vertices

# Make RenderType.Type public
public net.minecraft.client.renderer.RenderType$Type

# Make RenderType.Type field state public
public net.minecraft.client.renderer.RenderType$Type field_228668_S_  # state

# Make RenderType.State field textureState public
public net.minecraft.client.renderer.RenderType$State field_228677_a_  # textureState

# Make RenderState.TextureState field texture public
public net.minecraft.client.renderer.RenderState$TextureState field_228602_Q_  # texture

# Make AtlasTexture field texturesByName public
public net.minecraft.client.renderer.texture.AtlasTexture field_94252_e  # texturesByName

# Make ClientChunkProvider.ChunkArray public
public net.minecraft.client.multiplayer.ClientChunkProvider$ChunkArray

# Make ClientChunkProvider.ChunkArray fields/methods public
public net.minecraft.client.multiplayer.ClientChunkProvider field_217256_d  # storage
public net.minecraft.client.multiplayer.ClientChunkProvider$ChunkArray func_217183_b(II)Z  # inRange
public net.minecraft.client.multiplayer.ClientChunkProvider$ChunkArray func_217191_a(II)I  # getIndex
public net.minecraft.client.multiplayer.ClientChunkProvider$ChunkArray func_217181_a(ILnet/minecraft/world/chunk/Chunk;)V  # replace

# Make ClientChunkProvider methods public
public net.minecraft.client.multiplayer.ClientChunkProvider func_217249_a(Lnet/minecraft/world/chunk/Chunk;II)Z  # isValidChunk
